<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Update/delete Ninja</h1>

    <form id='update' action='/ninjas/<%=ninja.id %>/edit' method='post'>
      <label for='name'>Name: </label>
      <input type='text' name='name' value='<%=ninja.name %>'>
      <label for='description'>Description: </label>
      <input type='text' name='description' value='<%=ninja.description %>'>
    </form>
    <input for type='submit' form='update' value='Update ninja' />
    <form action='/ninjas/<%=ninja.id %>/destroy' method='post'>
      <input type='submit' value='Delete Ninja' />
    </form>
  </body>
</html>
