<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ninja Dashboard</title>
  </head>
  <body>
    <h1>Create new ninja!</h1>
    <form action="/ninjas" method='post'>
      <label for="name">Name</label>
      <input type="text" name="name">
      <label for="name">Description</label>
      <input type="text" name="description">
      <input type="submit" value="Add new ninja!">
    </form>
  </body>
</html>
